@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background-color: #27333f;
    padding-top: 20px;
    min-height: 70px;
    color: #ffffff;
    border-bottom: 3px solid seagreen;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

}
header li{
    float: left;
    display: inline;
    padding:0px 20px;
}
header h1{
    float: left;
    padding-bottom: 15px;
    padding-left: 30px;
    
}
header nav{
    float: right;
    padding-top: 16px;
}
header .highlight, header .current a{
    color: chocolate;
    font-weight: bold;
}
header a:hover{
    color: #ccc;
    font-weight: bold;

}
#showcase{
    min-height: 350px;
    background:url(download.jpg) no-repeat;
    background-size: cover;
}
 .container p{
     color:  rgba(68, 86, 62, 1);
     font-weight: 500;
 }
 #newsletter{
 background-color: #27333f;
      color: #ffffff;
      padding: 30px;
      
 }
 #newsletter h1{
     float: left;
     margin: 0;
    
 }
 #newsletter form{
     float: right;
 }
 #boxes{
     text-align: center;
     
 }
.box{
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #27333f;
    padding: 10px;
}
#main-content{
    float: left;
    width: 65%;
}
#main{
    overflow: hidden;
    margin: 10px 20px ;
    
}
footer{
    background-color: palevioletred;
    text-align: center;
    padding: 20px;
}
#main-content li{
    background-color: grey;
    border: 3px solid black;
    margin-bottom: 5px;
    padding: 15px;
    list-style: none;
}
.button{
    border: 1px solid grey;
    text-decoration: none;
    padding: 3px;
    background-color: rgb(114, 139, 177);
    color: black;
}
@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,#newsletter h1,#newsletter form{
        float: none;
        text-align: center;
        width: 100%;
    }
    header nav li{
        
    }
}